
<div class="<?php echo $this->class; ?> block"<?php echo $this->cssID; ?><?php if ($this->style): ?> style="<?php echo $this->style; ?>"<?php endif; ?>>
	<?php if ($this->headline): ?>
    
	    <<?php echo $this->hl; ?>><?php echo $this->headline; ?></<?php echo $this->hl; ?>>
    <?php endif; ?>
    <?php if (!$this->addBefore): ?>
		<?php echo $this->text; ?>
        <p class="redirect"><?php printf($GLOBALS['TL_LANG']['MSC']['redirect'], $this->href); ?></p>
	<?php endif; ?>
    <?php if ($this->addImage): ?>
        
        <figure class="image_container<?php echo $this->floatClass; ?>"<?php if ($this->margin || $this->float): ?> style="<?php echo trim($this->margin . $this->float); ?>"<?php endif; ?>>
			<?php if ($this->href): ?>
	            <a href="<?php echo $this->href; ?>"<?php if ($this->linkTitle): ?> title="<?php echo $this->linkTitle; ?>"<?php endif; ?><?php echo $this->attributes; ?>>
            <?php endif; ?>
            <img src="<?php echo $this->src; ?>"<?php echo $this->imgSize; ?> alt="<?php echo $this->alt; ?>"<?php if ($this->title): ?> title="<?php echo $this->title; ?>"<?php endif; ?>>
            <?php if ($this->href): ?>
	            </a>
            <?php endif; ?>
            <?php if ($this->caption): ?>
	            <figcaption class="caption" style="width:<?php echo $this->arrSize[0]; ?>px"><?php echo $this->caption; ?></figcaption>
            <?php endif; ?>
        </figure>
	<?php endif; ?>
    <?php if ($this->addBefore): ?>
		<?php echo $this->text; ?>
        <p class="redirect"><?php printf($GLOBALS['TL_LANG']['MSC']['nc_js_redirect']['text'], $this->href); ?></p>
    <?php endif; ?>
</div>
<script type="text/javascript">
setTimeout(function() {
	window.location = '<?php echo $this->href; ?>';
}, <?php echo $this->timeout; ?>);
</script>
